{% extends "base.html" %}

{% block bodyclass %}
<body class="profile-page sidebar-collapse">
{% endblock bodyclass %}

{% block content %}
<div class="page-header header-small header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('static/assets/img/city.jpg');">
    <div class = "container">
        <div class="row">
    <div class = "col-md-8 ml-auto mr-auto">
    <div class = "blockquote">
        <p>
            Whatever life holds in store for me, I will never forget these words: "With great power, comes great responsibility." This is my gift, my curse. Who am I? I'm Spider-Man.
        </p>
        <p>
            <small>
                <font color="darkgrey">
                Peter Parker (a.k.a. Spider-Man), Superhero
                </font>
            </small>
        </p>
    </div>
    </div>
    </div>
    </div>
</div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="static/assets/img/me.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title">Benedict Aquino</h3>
                            <h6>Math and Data Enthusiast</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>My name is Benedict Aquino. I graduated from one of Worcester's top liberal arts colleges with really good grades. Now I use my knowledge to help various stakeholders gain insights from their data to make it in this competitve world.</p>
            </div>
            <div class="description text-center text-muted">
                <p>
                    <small>
                        <a href="https://github.com/benedictaquino/benedict-aquino">
                            GitHub repository for this site
                        </a>
                    </small>
                </p>
            </div>
            <div class="space-50"></div>
        </div>
    </div>
</div>
{% endblock content %}
{% block footer %}
<div class="copyright float-right">
    &copy;
    <script>
        document.write(new Date().getFullYear())
    </script>, made with <i class="material-icons">favorite</i> by
    <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a> for a better web.
</div>
{% endblock footer %}
